hrtfs/**/*.sofa
hrtfs/__pycache__/
hrtfs/*.pyc
hrtfs/*.png
hrtfs/*.tar.gz
magnitude.pdf
passive_pinna_sub3_chan0_3D.pdf
*.png
*.gif
*.out
*.err
*.log
__pycache__/
SPEECH_DATA/
train/
test/
proflog/
collated_results.csv
training_set/*.tar.gz
training_set/crepe_pitch_annotations/clean/*.csv
training_set/clean/*.wav
training_set/noise/*.wav
training_set/noisy/*.wav
validation_set/*.tar.gz
validation_set/crepe_pitch_annotations/clean/*.csv
validation_set/clean/*.wav
validation_set/noise/*.wav
validation_set/noisy/*.wav
training_orients.txt
validation_orients.txt
Trained/
runs/
*.tar.gz
passive_pinna_*.pdf
other_models/optimized_cpp/vector_add
